<div class='slash-cont'>
  <div class='budget-watch'>  
    <h1>Budget Watch</h1>
  </div>
  <div class="registration">
    <%= link_to new_user_session_path do %>
      <div class='slash-login'>
        <p>LOG IN</p>
      </div>
    <% end %>
    <%= link_to new_user_registration_path do %>
      <div class='slash-signup'>
        <p>SIGN UP</p>
      </div>
    <% end %>
  </div>
</div>
