<div class='header'>
<div class="col1">
<%= link_to category_transactions_path(@category.id) do %>
<i class="fa-solid fa-angle-left"></i>
<% end %>
</div>
<div class="col2">
<h4 class='title'>Add New Transaction</h4>
</div>
<div class="col3">
<p><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
</div>

<%= render "form", transaction: @transaction %>

<br>
